h1 {
  color: blue;
}

p {
  color: pink;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
}
